// Colors
$primary-color:#FA3379;
$secondary-color:#2bb5d0;
$tertiary-color:#d5f0f6;
$dark-color: #09384d;
$inactive-color: #7f96a1;
$white: #fff;
$stars-color: #ffbc50;
$gray-border: #d0dee4;

// Typography
$font-family: "Poppins", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$icon-size: 1.5rem;

// Misc.

