.container{
    max-width: 70em;
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;

    &-full{
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        height: 100px;
        margin-top: 100px;
        left: 50%;
    }
}
