#main-header{
    background-color: $dark-color;
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 1rem 0;
    @include tablet{
        padding: 0;
    }

    .nav-links{
        .nav-item{
            &:hover{
                color:$white;
            }
        }

        .nav-active{
            color:$white;
        }
    }
}

.nav-widgets{
    @include flex-container("row", "flex-start", "center", "wrap", 1.7rem);
    .btn-icon{
        color:$white;
        &:hover{
            color:$primary-color;
        }
    }
}

