.alert{
    &-box{
        @include flex-container("row","flex-start","flex-start");
        gap:1.25rem;
        margin-bottom:1.875rem;
    }
    &-icon{
        background-color: $tertiary-color;
        @include flex-jc-center-ai-center;
        flex-shrink: 0;
        width: 2.5rem;
        height: 2.5rem;

        @include tablet{
            width:3.125rem;
            height: 3.125rem;
        }

        > span{
            display: block;
            &:before{
                color:$secondary-color;
                font-size: $icon-size;
            }
        }
    }
    &-content{
        p{
            margin: 0.3rem 0 0 0;
        }
    }
}