.btn{
    display: inline-block;
    padding: 1rem 3.8rem;
    border:2px solid transparent;
    background-color: transparent;
    transition: 250ms background ease-in-out;
    border-radius: 2rem;
    font-weight: $font-medium;
    font-family: $font-family;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;

    &-primary{
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        &:hover{
            background-color: transparent;
            color: $dark-color;
        }
    }
    &-outline{
        border-color: $primary-color;
        color: $dark-color;
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
        &-dark{
            color:$white;
        }
    }
    &-menu{
        background-color: $secondary-color;
    }
    &-icon{
        @include reset-btn;
        @include reset-link;
        color:$primary-color;
        font-size: 1.3rem;
        transition: 200ms ease-out all;
        &:hover{
            color:$primary-color;
            transform:scale(1.2);
        }
        &-circle{
            border:3px solid $primary-color;
            color:$dark-color;
        }
    }
}