.btn{
    display: inline-block;
    padding: 1rem 3.8rem;
    border:2px solid transparent;
    background-color: transparent;
    transition: 250ms background ease-in-out;
    border-radius: 2rem;
    font-weight: $font-medium;
    font-family: $font-family;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;

    &-primary{
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        &:hover{
            background-color: transparent;
            color: $dark-color;
        }
    }
    &-outline{
        border-color: $primary-color;
        color: $dark-color;
        padding: 1rem 2.8rem;
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
        &-dark{
            color:$white;
        }
    }
    &-dark{
        background-color: $dark-color;
        color: $white;
        padding: .5rem 1.275rem;
        opacity: .8;
        transition-property: opacity;
        &:hover{
            opacity: 1;
        }
    }

    &-tooltip{
        &:before,
        &:after{
            --scale: 0;
            position: absolute;
            top: -.3rem;
            left:50%;
            height: 25px;
            width: 25px;
            background-color: $dark-color;
            transform: translateX(-50%) translateY(-100%) scale(var(--scale));
            transition: 100ms transform;
            transform-origin: bottom center;
        }
        &:before{
            content: attr(data-tooltip);
            height: 15px;
            width: 50px;
            color: $white;
            width: max-content;
            padding: .5rem 1rem;
            border-radius: 20px;
            font-size: .7rem;
            text-align: center;
        }
        &:after{
            content:'';
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 7px;
            border-right-width: 7px;
            border-top: 7px solid $dark-color;
            background-color: transparent;
            top:0;
        }
        &:hover{
            &:before,
            &:after{
                --scale:1;
            }
        }
    }

    &-small{
        font-size: .8rem;
    }

    &-menu{
        @include flex-container("row", "flex-start", "center", "nowrap", .75rem);
        background-color: $secondary-color;
        color:$white;
        border: none;
        font-family: $font-family;
        font-weight: $font-bold;
        padding: .9rem 1.625rem;
        border-radius: 1.875rem;
        transition: 250ms background ease-in-out;
        cursor: pointer;

        &:hover{
            background-color: darken($secondary-color, 10%);
            color:$white;
        }

        &-bars{
            @include flex-container("column", "center", "center", "nowrap", 5px);

            span{
                display: block;
                width:11px;
                height:2px;
                background-color: $white;
                &:nth-child(2){
                    width:1.15rem;
                }
                &:last-child{
                    margin:0;
                }
            }
        }

    }
    &-icon{
        @include reset-btn;
        @include reset-link;
        color:$primary-color;
        font-size: 1.3rem;
        transition: 200ms ease-out all;
        &:hover{
            color:$primary-color;
            transform:scale(1.1);
        }
        &-circle{
            @include flex-container("row", "center", "center");
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 50%;
            border:2px solid $primary-color;
            color:$dark-color;
            box-sizing: border-box;
            &:hover{
                background-color: $primary-color;
                color:$white;
            }
        }
    }
    &-green{
        background-color: lighten($green-color,20%);
        border-color: lighten($green-color,20%);
        &:hover{
            background-color:$green-color;
            border-color: $green-color;
        }
    }
    &-purple{
        background-color: lighten($purple-color, 20%);
        border-color: lighten($purple-color, 20%);
        &:hover{
            background-color:$purple-color;
            border-color: $purple-color;
        }
    }
    &-light-blue{
        background-color: lighten($light-blue-color,20%);
        border-color: lighten($light-blue-color,20%);
        &:hover{
            background-color:$light-blue-color;
            border-color: $light-blue-color;
        }
    }
}

.line-btn{
    @include flex-container("row", "flex-start", "center", "nowrap", .75rem);
    @include reset-link;
    font-weight: $font-bold;
    line-height: 1.1;
    flex: 1;
    @include tablet{
        font-size: 1.1rem;
    }
}