.card{
    margin-bottom: 1.25rem;

    a{
        @include reset-link;
        @include flex-container("row", "flex-start", "center", "wrap", 1.25rem);
    }

    .tags-list{
        margin: 8px 0;
        @include tablet{
            margin-top:3px;
        }
    }

    h3{
        margin:0;
        @include tablet{
            max-width: 59%;
        }
    }

    &-content{
        flex:1;
    }

    &-cta{
        span{
            color:$dark-color;
            &:hover{
                color:$primary-color;
            }
        }
    }

    &-img{
        width: 8.75rem;
        height: 8.75rem;
        img{
            display: block;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    /* Specific properties for large cards */
    &-lg{
        position: relative;
        .card-img{
            width:100%;
            min-height: 22.1875rem;
        }
        .card-overlay{
            @include position-absolute(unset, 0, 0, unset);
            padding: 10.25rem 1.375rem 1.25rem 1.375rem;
            background-image: linear-gradient(to bottom, transparent, $dark-color);
            width: 100%;
            box-sizing: border-box;
        }
        .tags-list{
            @include position-absolute(10px,10px,unset,unset);
        }
        .card-title{
            margin-bottom:1.875rem;
            color:$white;
            line-height: 1.3;
            font-size: 1.4rem;
            max-width: 100%;
        }
        .btn-icon{
            color:$white;
        }
    }

    &-shadow{
        background-color: $white;
        padding:3.125rem 2.5rem;
        box-shadow: $card-shadow;
    }
}