.card{
    margin-bottom: 1.25rem;

    a{
        @include reset-link;
        @include flex-container("row", "flex-start", "center", "wrap", 1.25rem);
    }

    .tags-list{
        margin: 3px 0 8px 0;
    }

    h3{
        margin:0;
    }

    &-content{
        flex:1;
    }

    &-cta{
        span{
            color:$dark-color;
            &:hover{
                color:$primary-color;
            }
        }
    }

    &-img{
        width: 8.75rem;
        height: 8.75rem;
        img{
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}