form.newsletter-form{

    .newsletter-input{
        @include flex-container("column", "center", "center", "nowrap", 0);
        border: none;
        margin-bottom: .4rem;
    
        @include tablet{
            padding: 3.125rem 2.5rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    label{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    input{
        background-color: transparent;
        border: none;
        font-size: 1.1rem;
        font-family: $font-family;
        color: $dark-color;
        text-align: center;
        margin-bottom: 1.5rem;

        @include tablet{
            font-size: 1.7rem;
            text-align: left;
            margin-bottom: 0;
        }

        &::placeholder{
            opacity: 1;
        }
    }
    input[type="email"]{
        width: 100%;
        @include tablet{
            width: 50%;
        }
    }
}

.newsletter-gdrp{
    @include flex-container("row", "flex-start", "center", "nowrap", 1.25rem);
}

.newsletter-header{
    margin-bottom: 1.5rem;
}

input.gdrp-checkbox {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    width: 55px;
    height: 25px;
    background-color: $white;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset 20px 20px 20px 20px #e3e3e3;

    &:after{
        content: "";
        position: absolute;
        top: 2px;
        right:4px;
        background: transparent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.05);
        background-color: $white;
    }

    &:checked{
        box-shadow: inset 20px 20px 20px 20px $secondary-color;
        border-color: $secondary-color;
        &:after{
            left: 4px;
        }
    }
}
  