.nav{
    &-links{
        display: none;
        @include tablet{
            display: flex;
            gap:1.25rem;
            list-style: none;
            padding: 0;
        }
    }
    &-item{
        font-size: .9rem;
        color:$inactive-color;
        text-decoration: none;
        font-weight: $font-bold;
        border-bottom: 5px solid transparent;
        padding-top:1.875rem;
        padding-bottom:1.875rem;
        transition: 250ms ease-out all;
        &:hover{
            color:$dark-color;
        }
    }
    &-active{
        color:$dark-color;
        border-color: $primary-color;
    }
}