.nav{
    &-links{
        @include flex-container("row", "flex-start", "center", "nowrap", 1.25rem);
        list-style: none;
        padding: 0;
        overflow-x: auto;
    }
    &-item{
        font-size: .9rem;
        color:$inactive-color;
        text-decoration: none;
        font-weight: $font-bold;
        border-bottom: 5px solid transparent;
        padding-top:1.875rem;
        padding-bottom:1.875rem;
        transition: 250ms ease-out all;
        &:hover{
            color:$dark-color;
        }
    }
    &-active{
        color:$dark-color;
        border-color: $primary-color;
    }
}