#hotel{
    background: linear-gradient(to bottom, $dark-color 9%, $white 9%);
    padding-top: 1.75rem;

    @include tablet{
        padding-top: 3.75rem;
        background: linear-gradient(to bottom, $dark-color 12%, $white 12%);
    }

    h1{
        margin-top:1.4rem;
        margin-bottom: .5rem;
        color:$white;
        line-height: 1.05;
    }
}

.hotel-content{
    @include flex-container("column", "space-between", "unset", "nowrap", 2rem);

    @include tablet{
        flex-direction: row;
        align-items: flex-start;
    }
}

aside#hotel-aside{
    box-shadow: $card-shadow;
    border-radius: $card-radius;
    overflow: hidden;

    @include tablet{
        position: sticky;
        top:11vh;
        margin-top:5.5rem;
        max-width: 29.375rem;
    }
    img{
        width: 100%;
        height: 300px;
        @include object-fit("cover", "center");
    }
    .hotel-gallery{
        position: relative;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
    }
    .price{
        position: absolute;
        top:30px;
        right:30px;
        margin: 0;
    }
    .gallery-cta{
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
    .hotel-street{
        margin-bottom: 1.25rem;
    }
    .hotel-services{
        margin-bottom: 2.5rem;
    }
    .aside-content{
        padding: 1.875rem;
        background-color: $white;
        border-radius: 0 0 6px 6px;
    }
}
 
#hotel-nav{
    margin-top:4rem;
    gap:2.5rem;
}

#hotel-useful-info{
    h3{
        font-size: .9rem;
    }
}

#activities-around{
    .slider{
        @include tablet {
            padding:2.5rem 0 2.5rem 0;
        }
    }
}

#leaflets{
    @include flex-container("column", "space-between", "center", "nowrap", 0);
    padding-top:3.375rem;
    padding-bottom:4.375rem;

    @include tablet{
        flex-direction: row;
        padding-bottom:8.375rem;
    }

    .leaflets-text{
        order:2;
        @include tablet{
            order:1;
            max-width: 45%;
        }
        h2{
            font-size:2.5rem;
        }
        a{
            margin-top:1.3rem;
        }
    }

    .leaflets-wrapper{
        @include flex-align-center;
        justify-content: center;
        position: relative;
        margin-bottom:4rem;
        order:1;

        @include tablet{
            margin-bottom: 0;
            order:2;
        }

        @include desktop{
            &:after{
                content:url("../img/leaflet-bg.png");
                position: absolute;
                bottom: -60px;
                left: -40px;
                z-index: -2;
            }
        }

        img{
            box-shadow: $card-shadow;
            border:4px solid $white;
            position: relative;
            max-width: 100px;
            @include desktop{
                max-width: 11.25rem;
            }

            &:first-child{
                transform:rotate(-8deg);
                z-index: -1;
            }
            &:nth-child(2){
                transform:translateY(-18%) rotate(7deg);
            }
            &:last-child{
                transform:translateX(-30%) translateY(15%) rotate(18deg);
                z-index: -1;
            }
        }
    }
}

#map-locations{
    background: linear-gradient(to top right, $dark-color, #154e67);
    padding-bottom: 10rem;
    @include tablet{
        padding-bottom: 9rem;
        padding-top: 4rem;
    }
    @include desktop{
        padding-top: 0;
    }

    >div{
        @include flex-container("column", "flex-start", "center", "nowrap", 0);
        @include tablet{
            flex-direction: row;
            gap:3.75rem;
        }
    }

    .map-text{
        color:$white;
        @include tablet{
            max-width: 45%;
        }
        @include desktop{
            max-width: 30%;
        }
    }
    
    a{
        margin-top:40px;
    }

    img{
        max-width: 100%;
        margin-top:-2.5rem;
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 100%;
        }
    }
}

#related-links{
    margin-top:-6rem;
    margin-bottom: 4rem;

    @include tablet{
        margin-bottom: 0;
    }
    
    >div{
        @include flex-container("column", "space-between", "flex-start", "nowrap", 1.5rem);
        @include tablet{
            flex-direction: row;
            gap:6%;
        }
    }

    a{
        &:after{
            content: "\e910";
            font-family: icomoon !important;
            font-size: 1.5rem;
        }
        &:nth-child(1){
            &:after{
                color:$green-color;
            }
        }
        &:nth-child(2){
            &:after{
                color:$light-blue-color;
            }
        }
        &:nth-child(3){
            &:after{
                color:$purple-color;
            }
        }
    }
}